<%- include('partials/header') %>

<h1 class="pl-3">Login!</h1>
<form class="pl-3" action="/login" method="POST">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" />
  <input type="submit" value="Login!" />
</form>

<%- include('partials/footer') %>
